.header-ui {
    background-image: url('./../../../assets/img/plage_soleil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#accueil {
    padding-top: 50px;
}