<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="/"><strong>Location Lerat</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/logement" routerLinkActive="active">Logement</a> -->
          <a class="nav-link" href="/logement">Logement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tarifs" routerLinkActive="active">Tarifs & dispos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/activites" routerLinkActive="active">Activites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
