.logement-ui {
    background-image: url('./../../../assets/img/piece_vie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* color:rgb(15, 27, 58);   */
    color: black;
}

.logement-ui-title {
    margin-top: 50px;
}

.logement-ui-li {
    position: relative;
    display: block;
    list-style-type: none;
}

.logement-ui-icon {
    margin-right: 20px;
}

.logement-ui-div-content {
    /* background: rgb(175,172,165, 0.8) !important; */
    /* background: rgb(84, 86, 90, 0.8) !important; */
    background: #e6e8eeab !important;
    color:black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}

.logement-ui-carousel {
    text-align: center;
    width: 100%;
}